<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="answer">
    <insert id="add" parameterType="Answer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO exam.answer (
            answer,
            user_id,
            question_id
        )
        VALUES (
            #{answer},
            #{userId},
            #{questionId}
        );
    </insert>
    <delete id="remove">
        DELETE FROM exam.answer
        WHERE id = #{id}
    </delete>
    <update id="modify">
        UPDATE exam.answer
        SET
            answer      = #{answer},
            user_id     = #{userId},
            question_id = #{questionId}
        WHERE id = #{id}
    </update>
    <select id="list" resultType="answer">
        SELECT *
        FROM exam.answer
        ORDER BY id
    </select>
    <select id="query" parameterType="answer" resultType="answer">
        SELECT
        a.id,
        a.answer,
        a.user_id as userId,
        a.question_id as questionId
        FROM exam.answer a
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
            <if test="answer != null and answer != ''">AND answer = #{answer}</if>
            <if test="userId != null and userId != ''">AND user_id = #{userId}</if>
            <if test="questionId != null and questionId != ''">AND question_id = #{questionId}</if>
        </where>
    </select>
    <select id="search" resultType="answer">
        SELECT *
        FROM exam.answer
        WHERE id = #{id}
    </select>
</mapper>