<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="department">
    <insert id="add" parameterType="Department" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO exam.department (
    dname
        )
        VALUES (
    #{dname}
        );
    </insert>
    <delete id="remove">
        DELETE FROM exam.department
        WHERE department.id = #{id}
    </delete>
    <update id="modify">
        UPDATE exam.department
        SET
    dname = #{dname}
        WHERE department.id = #{id}
    </update>
    <select id="list" resultType="department">
        SELECT *
        FROM exam.department
        ORDER BY id
    </select>
    <select id="query" parameterType="department" resultType="department">
        SELECT *
        FROM exam.department
        <where>
            <if test="id != null and id != ''">
                department.id = #{id}
            </if>
            <if test="dname != null and dname != ''"> AND dname LIKE "%"#{dname}"%"</if>
        </where>
    </select>
    <select id="search" resultType="department">
        SELECT *
        FROM exam.department
        WHERE department.id = #{id}
    </select>
    <select id="queryAll" resultType="department">
        SELECT *
        FROM exam.department
        ORDER BY id
    </select>
</mapper>