<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="salary">
    <insert id="add" parameterType="salary" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO exam.salary (
            time,
            basic,
            insurance,
            userId
        )
        VALUES (
            #{time},
            #{basic},
            #{insurance},
            #{userId}
        );
    </insert>
    <delete id="remove">
        DELETE FROM exam.salary
        WHERE salary.id = #{id}
    </delete>
    <update id="modify">
        UPDATE exam.salary
        SET
            time      = #{time},
            basic     = #{basic},
            insurance = #{insurance},
            userId    = #{userId}
        WHERE salary.id = #{id}
    </update>
    <select id="list" resultType="salary">
        SELECT *
        FROM exam.salary
        ORDER BY id
    </select>
    <select id="query" parameterType="salary" resultType="salary">
        SELECT *
        FROM exam.salary
        <where>
            <if test="id != null and id != ''">
                salary.id = #{id}
            </if>
            <if test="time != null and time != ''">AND time LIKE "%"#{time}"%"</if>
            <if test="basic != null and basic != ''">AND basic LIKE "%"#{basic}"%"</if>
            <if test="insurance != null and insurance != ''">AND insurance LIKE "%"#{insurance}"%"</if>
            <if test="userId != null and userId != ''">AND userId LIKE "%"#{userId}"%"</if>
        </where>
    </select>
    <select id="search" resultType="salary">
        SELECT *
        FROM exam.salary
        WHERE salary.id = #{id}
    </select>
    <resultMap id="map_queryUserSalaries" type="salary">
        <id property="id" column="id"/>
        <result property="time" column="time"/>
        <result property="basic" column="basic"/>
        <result property="insurance" column="insurance"/>
        <association property="user" javaType="user">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
        </association>
    </resultMap>
    <select id="queryUserSalaries" resultMap="map_queryUserSalaries">
        SELECT
            u.id AS user_id,
            u.username,
            s.id,
            s.time,
            s.basic,
            s.insurance
        FROM exam.user u INNER JOIN exam.salary s ON u.id = s.userId
    </select>
    <select id="queryUserSalariesByUserId" parameterType="int" resultMap="map_queryUserSalaries">
        SELECT
            u.username,
            s.id,
            s.time,
            s.basic,
            s.insurance
        FROM exam.user u INNER JOIN exam.salary s ON u.id = s.userId
        WHERE u.id = #{id}
    </select>
    <select id="queryUserSalariesByUsernameOrTime" parameterType="hashmap" resultMap="map_queryUserSalaries">
        SELECT
        u.id AS user_id,
        u.username,
        s.id,
        s.time,
        s.basic,
        s.insurance
        FROM exam.user u INNER JOIN exam.salary s ON u.id = s.userId
        # MyBatis Dynamic SQL
        <where>
            <if test="username != null">
                u.username = #{username}
            </if>
            <if test="time != null">
                AND s.time = #{time}
            </if>
        </where>
    </select>

</mapper>