<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <insert id="add" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user VALUES (NULL, #{username}, #{password})
    </insert>
    <select id="query" parameterType="user" resultType="user">
        SELECT *
        FROM user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="username != null">
                AND username = #{username}
            </if>
            <if test="password != null">
                AND password = #{password}
            </if>
        </where>
    </select>
    <delete id="remove" parameterType="java.lang.Integer">
        DELETE FROM user
        WHERE id = #{id}
    </delete>
    <!--custom-->
    <resultMap id="map_query_question_answer" type="question">
        <result property="question" column="question"/>
        <collection property="answers" ofType="answer">
            <id property="id" column="id"/>
            <result property="answer" column="answer"/>
            <association property="user" javaType="user">
                <result property="username" column="username"/>
            </association>
        </collection>
    </resultMap>
    <select id="query_question_answer" resultMap="map_query_question_answer">
        SELECT
            q.question,
            a.answer,
            a.id,
            u.username
        FROM question q, answer a, user u
        WHERE q.id = a.question_id AND u.id = a.user_id
    </select>
</mapper>